/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* set the defau;t style for buttons */
button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

/* 
                Mobile Style
*/

.header {
    background-color: #222;
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
}

.current {
    background-color: #c78c06;
    color: black;
}


.header button {
    cursor: pointer;
    background-color: #222;
    color: #c78c06;
}

button:hover {
    cursor: pointer;
    background-color: #c78c06;
    color: #222;
}

.header button {
    width: 100%;
    flex-basis: 2em;
    padding: 1.2em;
}

.header button:nth-child(1) {
    width: 100%;
    padding: 1.2;
    padding-top: 200px;
}

.logo {
    max-width: 144px;
    max-height: 144px;
    position: absolute;
    left: 19px;
    top: 19px;
}

#search {
    border: none;
    padding: 10px;
    width: 840px;
    font-size: 1.5em;
}

.intro .welcome {
    background-image: url(/img/main-banner.jpg);
    height: 700px;
    background-position: center;
    display: flex;
    align-items: center;
}

.container1 {
    background-color: #00000080;
    height: 80%;
    color: #fff;
    margin: 20% 0;
    padding: 0 30px;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 80px 0 50px 0;
    font-family: 'Open Sans', sans-serif;
}

p {
    line-height: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.orangeButton {
    margin-top: 20px;
    display: flex;
    background-color: #c78c06;
    padding: 30px;
}

.triangle {
    /* insert triangle icon/play button */
}

.card {}

.aboutImg {
    background-image: url(/img/about-us.jpg);
    background-size: cover;
    height: 444px;
    padding: 5px;
}

h2 {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0px;
}


/* 
                Desktop Style
 */

@media only screen and (max-width: 760px) {

    /* Page container styling */
    body {
        width: 100%;
    }

    /* Text styling */

    h1 {
        font-size: 6rem;
        font-family: sans-serif;
        color: #fff;
    }

    h2 {
        font-size: 4rem;
        font-family: sans-serif;
        color: #000;
    }

    p {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }

    header {
        color: #444;
        width: 100%;
    }

    .current {
        color: rgb(207, 135, 0);
    }

    .current a {
        color: #444;
    }

    nav ul li a {
        text-decoration: none;
    }

    header .welcome {
        background-image: ;
    }
}