/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* set the defau;t style for buttons */
button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

/* 
                Mobile Style
*/

/* nav bar */

.header {
    background-color: #222;
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
}

.current {
    background-color: #c78c06;
    color: black;
}


.header button {
    cursor: pointer;
    background-color: #222;
    color: #c78c06;
}

button:hover {
    cursor: pointer;
    background-color: #c78c06;
    color: #222;
}

.header button {
    width: 100%;
    flex-basis: 2em;
    padding: 1.2em;
}

.header button:nth-child(1) {
    width: 100%;
    padding-top: 200px;
}

.logo {
    max-width: 144px;
    max-height: 144px;
    position: absolute;
    left: 19px;
    top: 19px;
}

#search {
    border: none;
    padding: 10px;
    width: 840px;
    font-size: 1.5em;
}

/* container classes */

.intro .welcome {
    background-image: url(/img/main-banner.jpg);
    height: 700px;
    background-position: center;
    display: flex;
    align-items: center;
}

.container1 {
    background-color: #00000080;
    height: 80%;
    color: #fff;
    margin: 20% 0;
    padding: 0 30px;
}

.about {
    background-color: #ffe6ac;
    padding: 5px 0 20px 0;
}

.card {
    background-color: #ffe6ac;
    margin: 15px 15px;
    padding-bottom: 15px;
}

.teamCard {
    margin: 15px;
    padding-bottom: 20px;
    background-color: #ffe6ac;
}

footer {
    background-color: #222;
    color: #c78c06;
    height: 100px;
}

footer p {
    line-height: 2rem;
    padding: 25px 0 0 15px;
    margin: 0;
}

em {
    text-decoration: underline;
}

/* text styling */

h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 80px 0 50px 0;
    font-family: 'Open Sans', sans-serif;
}

p {
    line-height: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    margin-left: 15px;
    padding-bottom: 15px;
}


h2 {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    margin: 40px 0 15px 15px;
    font-weight: 600;
}

.setting h2 {
    margin: 30px 0 15px 15px;
}

h3 {
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 40px 0 20px 15px;
}

strong {
    font-weight: 700;
}

hr {
    color: #c78c06;
    width: calc(100% - 30px);
    height: 3px;
    background-color: #c78c06;
    border: none;
    margin: -15px 0 15px 15px;
}

/* utility classes */

.triangle {
    /* insert triangle icon/play button */
}

.inv {
    color: white;
}

/* buttons */

.orangeButton {
    display: flex;
    background-color: #c78c06;
    padding: 30px;
}

.blackButton {
    display: flex;
    background-color: #222;
    color: white;
    padding: 30px;
    margin: 0 0 0 15px;
}

.transButton {
    display: flex;
    background-color: #22222280;
    color: white;
    padding: 30px;
    margin: 0 0 0 15px;
    border: 1px solid #c78c06;
}

/* images */

.aboutImg {
    background-image: url(/img/about-us.jpg);
    background-size: cover;
    height: 444px;
    margin: 15px;
}

.digiImg {
    background-image: url(/img/digital.jpg);
    background-size: cover;
    height: 600px;
}

.markImg {
    background-image: url(/img/marketing.jpg);
    background-size: cover;
    height: 600px;
}

.videImg {
    background-image: url(/img/video.jpg);
    background-size: cover;
    height: 600px;
}

.webdImg {
    background-image: url(/img/web.jpg);
    background-size: cover;
    height: 600px;
}

.prinImg {
    background-image: url(/img/print.jpg);
    background-size: cover;
    height: 600px;
}

.visi {
    background-image: url(/img/vision.jpg);
    background-repeat: no-repeat;
    background-size: 942px 550px;
    background-position: 55% 50%;
    padding: 20px 0;
}

.ceo, .cfo {
    width: 100%;
}

.teamCard h3 {
    margin: 20px 0 10px 15px;
}

/* form */

label {
    font-family: "Open Sans", sans-serif;
    margin: 15px 0 0 15px;
}

input {
    margin: 5px 0 10px 15px;
    width: calc(100% - 45px);
    padding: 5px;
}

#message {
    margin: 5px 0 15px 15px;
    width: calc(100% - 45px);
    height: 120px;
    padding: 5px;
}

#sendButton {
    background-color: #222;
    color: #c78c06;
    width: auto;
    border: none;
    font-size: 1.5rem;
    padding: 5px;
}

table {
    border: solid 1px #222;
    margin: 15px;
    width: calc(100% - 30px);
    font-family: "Open Sans", sans-serif;
}

tr th {
    background-color: #ffe6ac;
}

tr th, tr td {
    padding: 20px;
    border: solid 1px #222;
}

.hours {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr); */
}

iframe {
    width: calc(100% - 30px);
    margin: 0 15px 0 15px;
}

/* 
                Desktop Style
 */

@media only screen and (max-width: 760px) {

    /* Page container styling */
    body {
        width: 100%;
    }

    /* Text styling */

    h1 {
        font-size: 6rem;
        font-family: sans-serif;
        color: #fff;
    }

    h2 {
        font-size: 4rem;
        font-family: sans-serif;
        color: #000;
    }

    p {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }

    header {
        color: #444;
        width: 100%;
    }

    .current {
        color: rgb(207, 135, 0);
    }

    .current a {
        color: #444;
    }

    nav ul li a {
        text-decoration: none;
    }

    header .welcome {
        background-image: ;
    }
}