/*  Favourite websafe colors so far*/
/* DON'T USE, DON'T AUTO FORMAT */

a {
    color: pink;
    color: plum;
    color: bisque;
    color: rgb(103, 93, 139);       /* Ash blue*/
    color: #222;                    /* Deep Gray */
    color: rebeccapurple;
    color: salmon;
    color: seashell ;
    color: thistle;
}