@import url("https://use.typekit.net/xor3zrh.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables and text styles */

:root {
    --primary: #7D008C;
    --secondary: #A346AE;
    --accent: #F2BE2D;
}

h2, h3, h4, h5, h6 {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.name {
    font-size: 4em;
}

h1 {
font-family: fit, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 20em;
padding-left: 0.25em;
color: var(--accent);
text-decoration: none;
}

h2 {
    font-size: 2.5em;
    padding: 50px 0 10px 0;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 100px;
    margin: 30px 0 10px 0;
}

.ul {
    font-size: 1.5em;
    font-weight: 400;
    white-space: nowrap;
}

.content p {
    text-align: left;
    line-height: 1.4em;
    font-weight: 600;
}

p {
    line-height: 1.2em;
    margin: 5px 0 10px 0;
}

a {
    text-decoration: none;
    color: var(--accent);
}
.link {
    display: inline-block;
    border-radius: 0;
    border: none;
    background-color: var(--primary);
    margin: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    font-family: neuzeit-grotesk, sans-serif;
}

.link:hover {
    cursor: pointer;
    background-color: var(--secondary);
}

ul li a {
    text-decoration: none;    
    color: var(--accent);
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 600;
}

/* block styles */

header {
    background-color: var(--secondary);
    height: 100vh;
    width: 225px;
    box-shadow: 103px 0 var(--primary);
    position: fixed;
}

main {
    padding-left: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 30%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20%;
    background-color: var(--primary);
    height: 100px
}
.footerContainer {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: baseline;
}
.footerContainer a {
    padding: 0 10px;
}
.footerContainer a img{
    width: 2rem;
}

.example {
    width: 50%;
}

.content img {width: 50%;}

ul li:not(:first-child) {
    padding: 10px 0 10px 0;
    margin-left: 80px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: var(--primary);
    color: var(--accent);
    cursor: pointer;
    padding: 18px;
    width: 49%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2em;
  }
  
/* Form */
form {
    width: 40%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    margin: 20px auto 30px auto;
}

input {
    width: 90%;
    padding: 8px 10px;
    margin: 10px auto 30px auto;
    display: inline-block;
    border: 0 solid #ccc;
    border-bottom: 4px solid var(--accent);
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 90%;
    padding: 8px 10px;
    margin: auto;
    display: inline-block;
    border: 0 solid #ccc;
    border-bottom: 4px solid var(--accent);
    border-radius: 4px;
    box-sizing: border-box;
}
.submit{border: none;
    width: 40%;
margin-top: 20px;}

  .active, .collapsible:hover {
    background-color: var(--secondary);
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for plus sign */
    font-size: 13px;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for minus sign */
  }
  
  .collapsibleContent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #fff;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
/* misc */
.km {
    margin-top: 100px;
}

.minh {
    width: 50%;
}

.skip {
    position: absolute;
    top: -30px;
    color: white;
    border: solid 5px blue;
    font-size: 1.2em;
    font-weight: 700;
}

.skip:focus{
    position: absolute;
    border: solid 5px blue;
    height: 30px;
    width: 180px;
    margin: auto;
    left: 0px;
    text-align: center;
    top: 0px
}

@media screen and (max-width: 600px) {

    html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }


    header {
        height: 13vh;
        width:68px;
        background-color: var(--secondary);
        box-shadow: var(--primary) 68px 0 0;
        position: fixed;
    }
        
    ul {
        display: flex;
    }

    ul li:not(:first-child) {
        height: 13vh;
        background-color: var(--primary);
        font-size: .8em;
        padding: 0 30px;
        margin: 0;
    }

    ul li:last-child {
        padding-right: 80px;
    }

    ul li:first-child {
        background: none;
        box-shadow: var(--secondary) -30px 0 0;
        margin: 0;padding: 0;
    }
    
    h1 {
        font-family: fit, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 6em;
        padding-left: 0.25em;
        color: var(--accent);
        text-decoration: none;
    }
    
    h2, h3, h4, h5, h6 {
        font-family: proxima-nova, sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .name {
        font-size: 1.5em;
        font-weight: 400;
        margin-top: 150px;
        margin: 30px 0 10px 0;
    }

main {
    display: flex;
    flex-direction: column;
margin: 0;padding: 0;
}

.km {
    margin-top: 15px;
}
article {
    max-width: 50%;
    margin: auto;
}
.minh {
    width: 50%;
    margin: auto;
}

}