html {
    background-color: #aad4cf;
}

body {
    margin: 0% 15%;
    background-color: #d4e9e7;
}


/* Header and Nav bar */
header {
    /* Doing it this way (using background-image instead of an img tag in html) makes it much more responsive. I couldn't find a way to make it responsive with the img tag */
    display: block;
    background-image: url("../img/lone-starfish-wide.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    padding: 30px;
}

header h1 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 60pt;
    font-weight: lighter;
    position: absolute;
    top: 15vh;
    width: 68.5%;
}

.nav ul {
    display: block;
    list-style: none;
    text-align: justify;
}

.nav ul li {
    display: block;
    float: left;
    text-align: center;
    width: 33%;
}

.nav ul li a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 24pt;
    color: #444;
}

.nav ul li {
    float: left;
    list-style: none;
}

/* util */
.vll {
    float: left;
    border: solid black;
    border-width: 0px 0px 0px 1px;
    height: 3em;
    margin-top: -15px;
}

/* Content */

article {
    margin: 15px;
    margin-top: 40px;
    font-family: sans-serif;
}

article ul li {
    line-height: 1em;
}

h2 {
    font-weight: normal;
    font-family: sans-serif;
    font-size: 2.5em;
}

h3 {
    font-weight: normal;
    font-family: sans-serif;
    font-size: 2em;
}

h4 {
    font-weight: normal;
    font-family: sans-serif;
    font-size: 1.6em;
}

.art-img {
    width: 360px;
    display: block;
    float: left;
    margin: 0 30px 15px 0;
}

.contact h3 {
    margin-bottom: 10px;
}

article p {
    display: block;
    text-align: justify;
    line-height: 1.5em;
}

.contactform {
    border: 1px solid black;
    font-family: sans-serif;
    padding: 20px;
    padding-top: 40px;
}

input {
    margin: 10px 0 20px 0;
    width: 100%;
    border: 1px solid #ccc;
}

form p {
    display: block;
    float: left;
    margin: 0px 10px 0px 5px;
}

.radio {
    display: block;
    float: left;
    width: 15px;
    position: relative;
    top: -5px;
}

#msg {
    height: 10vh;
}

#send {
    width: 70px;
    margin-left: -180px;
    padding: 10px 0;
    border: 2px black solid;
    background-color: transparent;
}

#send:hover {
    cursor: pointer;
}

footer {
    margin: 15px;
    padding: 15px;
    font-family: sans-serif;
    text-align: right;
}