@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);

a, article, b, body, center, div, em, embed, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, label, p, s, section, strong, table, td, th, tr, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none
}

article, footer, header, section {
    display: block
}

body {
    line-height: 1;
    font-family: 'Open Sans', Helvetica, sans-serif
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em
}

.navButton a {
    color: #c78c06
}

html {
    overflow-x: hidden
}

.header {
    background-color: #222;
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center
}

#current {
    background-color: #c78c06
}

#current a {
    color: #222
}

.header button {
    cursor: pointer;
    background-color: #222;
    color: #c78c06
}

button:hover a {
    color: #222
}

button:hover {
    background-color: #c78c06
}

.header button {
    width: 100%;
    flex-basis: 2em;
    padding: 1.2em
}

.header button:nth-child(1) {
    width: 100%;
    padding-top: 200px
}

.logo {
    max-width: 144px;
    max-height: 144px;
    position: absolute;
    left: 19px;
    top: 19px
}

#search {
    border: none;
    margin: auto;
    padding: 10px;
    width: calc(90vw - 30px);
    font-size: 1.5em
}

.intro .welcome {
    background-image: url(/mtm6201-final/img/main-banner.jpg);
    overflow: hidden;
    height: 700px;
    background-position: center;
    display: flex;
    align-items: center
}

.container1 {
    background-color: #000000a0;
    color: #fff;
    margin: 20% 0;
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column
}

.about {
    background-color: #ffe6ac;
    padding: 5px 0 20px 0
}

.card {
    background-color: #ffe6ac;
    margin: 15px 15px;
    padding-bottom: 15px
}

.teamCard {
    margin: 15px;
    padding-bottom: 20px;
    background-color: #ffe6ac
}

footer {
    margin-top: 15px;
    background-color: #222;
    color: #c78c06;
    height: 100px
}

footer p {
    line-height: 2rem;
    padding: 25px 0 0 15px;
    margin: 0
}

em {
    text-decoration: underline
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.6em;
    margin: 80px 0 35px 0
}

p {
    line-height: 1.5rem;
    padding-bottom: 15px
}

.about p, .card p {
    margin: 0 15px 0 15px
}

h2 {
    font-size: 3rem;
    margin: 40px 0 15px 15px;
    font-weight: 700
}

.setting h2 {
    margin: 30px 0 15px 15px
}

h3 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 40px 0 20px 15px
}

strong {
    font-weight: 700
}

hr {
    color: #c78c06;
    width: calc(100% - 30px);
    height: 3px;
    background-color: #c78c06;
    border: none;
    margin: -15px 0 15px 15px
}

.triangle {
    padding: 0 0 0 20px;
    position: relative;
    top: -3px
}

.inv {
    color: #fff
}

#searchButton {
    border: 1px solid #c78c06;
    width: 49px;
    height: 49px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.header form {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0
}

.orangeButton {
    display: flex;
    background-color: #c78c06;
    padding: 30px;
    width: 280px
}

.blackButton {
    background-color: #222;
    display: inline-block;
    color: #fff;
    padding: 30px;
    margin: 0 0 0 15px
}

.transButton {
    display: flex;
    background-color: #22222280;
    color: #fff;
    padding: 30px;
    margin: 0;
    border: 1px solid #c78c06
}

.aboutImg {
    background-image: url(/mtm6201-final/img/about-us.jpg);
    background-size: cover;
    height: 444px;
    margin: 15px 15px 15px 0
}

.digiImg {
    background-image: url(/mtm6201-final/img/digital.jpg);
    background-size: cover;
    background-position: center;

    height: 600px
}

.markImg {
    background-image: url(/mtm6201-final/img/marketing.jpg);
    background-size: cover;
    background-position: center;

    height: 600px
}

.videImg {
    background-image: url(/mtm6201-final/img/video.jpg);
    background-size: cover;
    background-position: center;
    height: 600px
}

.webdImg {
    background-image: url(/mtm6201-final/img/web.jpg);
    background-size: cover;
    background-position: center;

    height: 600px
}

.prinImg {
    background-image: url(/mtm6201-final/img/print.jpg);
    background-size: cover;
    background-position: center;

    height: 600px
}

.visi {
    background-image: url(/mtm6201-final/img/vision.jpg);
    background-repeat: no-repeat;
    background-size: 942px 550px;
    background-position: 55% 50%;
    padding: 20px 15px
}

.visi h3 {
    margin-left: 0
}

.ceo, .cfo {
    width: 100%
}

.teamCard h3 {
    margin: 20px 0 10px 15px
}

.teamCard p {
    margin: 0 0 0 15px
}

label {
    font-family: "Open Sans", sans-serif;
    margin: 15px 0 0 15px
}

input {
    margin: 5px 0 10px 15px;
    width: calc(100% - 45px);
    padding: 5px
}

form textarea {
    margin: 5px 0 15px 15px;
    width: calc(100% - 45px);
    height: 120px;
    padding: 5px
}

#sendButton {
    background-color: #222;
    color: #c78c06;
    width: auto;
    border: none;
    font-size: 1.5rem;
    padding: 5px
}

table {
    border: solid 1px #222;
    margin: 15px;
    width: calc(100% - 30px);
    font-family: "Open Sans", sans-serif
}

tr th {
    background-color: #ffe6ac
}

tr td, tr th {
    padding: 20px;
    border: solid 1px #222
}

iframe {
    width: calc(100% - 30px);
    margin: 0 15px 0 15px
}

@media only screen and (min-width:760px) {
    main {
        max-width: 1200px;
        margin: auto
    }

    .header {
        background-color: #222;
        height: 100px;
        flex-direction: row;
        padding: 0 17vw;
        justify-content: space-evenly
    }

    h2 {
        margin-left: 0
    }

    .max {
        margin-left: 0
    }

    .max p {
        margin-left: 0
    }

    .navButton {
        padding: 15px 30px;
        color: #c78c06;
        flex-shrink: 0
    }

    .navButton:hover {
        padding: 15px 30px;
        color: #222;
        background-color: #c78c06
    }

    #current {
        color: #222;
        background-color: #c78c06
    }

    .logo {
        height: 60px;
        position: initial;
        margin: 0 40px 0 0
    }

    #search {
        width: 250px
    }

    .welcome {
        width: 100vw;
        position: relative;
        left: 50%;
        margin-left: -50vw;
        background-size: cover;
        display: flex;
        justify-content: center
    }

    .container1 {
        max-width: 1200px;
        padding: 15px
    }

    .container1 h1 {
        font-weight: 700;
        font-size: 6rem;
        margin-top: 40px;
        line-height: 1.4em
    }

    .about {
        width: 100vw;
        position: relative;
        left: 50%;
        margin-left: -50vw;
        padding-bottom: 5px
    }

    .max {
        max-width: 1200px;
        margin: auto;
        display: flex
    }

    .aboutImg {
        width: 50%;
        height: 310px;
        background-position: center;
        background-size: cover
    }

    .about .content {
        width: 50%
    }

    .about .content h1 {
        margin: 0;
        padding: 0
    }

    #services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 30px;
        gap: 15px
    }

    .cardImg {
        height: 400px
    }

    .card:nth-child(3) .cardImg, .card:nth-child(4) .cardImg, .card:nth-child(5) .cardImg {
        height: 250px
    }

    .card {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .card:nth-child(1) {
        grid-column: 1/span 3;
        grid-row: 1/span 1;
    }

    .card:nth-child(2) {
        grid-column: 4/span 3;
        grid-row: 1/span 1;
    }

    .card:nth-child(3) {
        grid-column: 1/span 2;
        grid-row: 2/span 1;
        padding-bottom: 15px;
    }

    .card:nth-child(4) {
        grid-column: 3/span 2;
        grid-row: 2/span 1;
        padding-bottom: 15px;
    }

    .card:nth-child(5) {
        grid-column: 5/span 2;
        grid-row: 2/span 1;
        padding-bottom: 15px;
    }

    .blackButton {
        margin: 0 15px;
        display: flex;
        justify-content: center
    }

    .visi {
        background-size: cover;
        width: 100vw;
        position: relative;
        left: 50%;
        margin-left: -50vw
    }

    .visi article {
        max-width: 1200px;
        margin: auto
    }

    .visi article>* {
        margin: 0
    }

    .visi h3 {
        padding: 30px 0 20px 0
    }

    .teamGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr)
    }

    #team>h3 {
        margin-left: 0
    }

    .teamCard:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/3;
        display: flex;
        margin: 0;
        padding-bottom: 0
    }

    .teamCard:nth-child(2) {
        grid-row: 2/3;
        grid-column: 1/3;
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
        padding-bottom: 0
    }

    .ceo {
        width: inherit;
        margin: 0;
        padding: 0
    }

    .cfo {
        width: inherit
    }

    .contact * {
        margin-left: 0
    }

    .contactGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr
    }

    .contactForm {
        grid-column: 1
    }

    .location {
        grid-column: 2
    }

    .setting {
        grid-row: 2;
        grid-column: 1/3
    }

    .setting h2 {
        margin: 0;
    }

    footer p {
        max-width: 1200px;
        margin: auto
    }
}
