/* css messy as hell but thats for another day */

body {
    margin: auto;
    max-width: 70%;
    --div-height: 50%
}

h1 a {
    text-decoration-color: black;
    color: black;
}

blockquote {
    border-color: bisque;
    border-style: solid;
    border-radius: 6px;
    border-width: 0px;
    border-left-width: 8px;
    padding: 6px;
    padding-left: 16px;
    font-size: 1.2em;
    color: rgb(255, 210, 160);
    /* too lazy to convert to hex */
    ;
}

div.about {
    background-color: #222;
    color: white;
height: 30vh}
div.about-me {
    color: white;
    margin: auto;
    padding: auto;
    width: 75%;
    float: left;
}

div.about img {
max-height: 30vh;
float: left;
}

header {
    padding: 15px;
}

a {
    text-decoration: none;
}

blockquote a {
    font-size: .8em;
}

article {
    background-color: bisque;
    padding: 15px;
}

hr {
    background-color: bisque;
}

dt {
    padding-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

footer {
    background-color: antiquewhite;
    padding: 15px;
    width: auto;
    display: block;
    clear: both;
}